/* rem and em do not depend upon html font-size in media queries ! Instead 1rem=1em=16px */

@media(max-width:84em) {
  .hero {
    max-width: 120rem;
  }
  .heading-primary {
    font-size: 4.4rem;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width:75em)
{
  html{
    font-size: 56.25%;
  }
}